* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --link-color: #575d5e;
    --desc-color-dark: #575d5e;
    --desc-color-light: #7d8188;
}

html {
    font-size: 62.5%;
}

header,
footer {
    font-family: "Public Sans", sans-serif;
}

button {
    font-family: inherit;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: block;
    height: var(--height);
    padding: 0 24px;
    color: #fff;
    font-weight: 500;
    background-color: var(--primary-color);
    border: 1.5px solid #143c3c;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.desc__section {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 155.556% */
    color: var(--desc-color-light);
}

.heading__section {
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
    color: #152427;
}

.title__section {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    color: var(--primary-color);
}

/* Header */

.header {
    padding-top: 28px;
    min-height: 100vh;
}

.header-top {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
}

.header-top::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.navbar__list {
    display: flex;
    margin-left: 398px;
}

.navbar__link {
    display: block;
    padding: 8px 19px;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--link-color);
}

.navbar__link:hover {
    color: var(--primary-color);
}

.navbar__link--active {
    position: relative;
    color: var(--primary-color);
    font-weight: 600;
}

.navbar__link--active::after {
    position: absolute;
    content: "";
    left: 19px;
    bottom: -17px;
    width: 16px;
    height: 2px;
    flex-shrink: 0;
    background-color: var(--primary-color);
}

.sign-up {
    --height: 57px;
    margin-left: auto;
    border-radius: 40px;
    min-width: 173px;
    font-size: 1.8rem;
}

/* Hero */

.hero {
    padding: 60px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 43.4%;
}

.hero__heading {
    max-width: 368px;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
    color: var(--primary-color);
}

.hero__desc {
    max-width: 341px;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
    color: var(--desc-color-dark);
}

.hero-row {
    margin-top: 42px;
}
.hero__btn-cta {
    --height: 57px;
    border-radius: 40px;
    min-width: 173px;
    font-size: 1.8rem;
}

.hero__media {
    width: 56.7%;
    position: relative;
}

.hero__gb-blur {
    position: absolute;
    top: 122px;
    right: 150px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.hero__images {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.hero__img {
    width: 202px;
    height: 466px;
}

.hero__img:nth-of-type(2) {
    margin-top: 77px;
}

.hero-decorate {
    position: absolute;
}

.hero__vector-01 {
    top: -32.07px;
    left: -172px;
}

.hero__avstract-01 {
    top: -24px;
    left: -213px;
}

.hero__vector-02 {
    right: 45.64px;
    bottom: -67px;
}

.hero__avstract-02 {
    right: 6.64px;
    bottom: -37px;
}

/* Clients */

.clients-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40.31px 0 106px;
    padding: 76px 121px 77px;
    background-color: #e2eddf;
    border-radius: 100.5px;
}
/* Services */

.notice__heading {
    position: relative;
    margin-left: 46px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 26px;
    color: #152427;
}

.notice__heading::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    bottom: 50%;
    transform: translateX(-50%);
    left: -32px;
    background-color: var(--primary-color);
}

.services__row {
    margin: 12px 0 76px;
    display: flex;
    justify-content: space-between;
}

.services__heading {
    position: relative;
    max-width: 520px;
}

.services__heading::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    bottom: 20px;
    right: 104px;
    background-color: var(--primary-color);
}

.group-arrow {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 17px;
}

.arrow__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: currentColor;
    background-color: #e2eddf;
    transition: 0.25s;
    cursor: pointer;
}

.arrow__wrap:hover {
    background-color: var(--primary-color);
}

.services__arrow-btn {
    color: #152427;
    transition: 0.25s;
}

.arrow__wrap:hover .services__arrow-btn {
    color: #fff;
}

/* Services__list */

.services__list {
    display: flex;
    gap: 16px;
    flex: 1;
}

.services-item {
    width: 370px;
    border-radius: 20px;
    flex-shrink: 1;
    overflow: hidden;
    transition: 0.25s;
}

.services-item:hover {
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.services-item__header {
    overflow: hidden;
}

.services__img {
    width: 100%;
    height: 318px;
    object-fit: cover;
    transition: 0.25s;
}

.services__img:hover {
    transform: scale(1.1);
}

.services-item__body {
    text-align: left;
    padding: 24px 0;
    transition: 0.25s;
}
.services-item:hover .services-item__body {
    margin: 0 18px;
}

.services__desc {
    margin-top: 18px;
    max-width: 268px;
}

/* About */

.about {
    margin: 157px 0 79px;
}

.about__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.about-media {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 51.8%;
}

.about__img {
    width: 286px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}

.about__img:first-child {
    margin-top: 90px;
}

.about__img:last-child {
    margin-top: 7px;
}

/* About card */

.about-card {
    position: absolute;
    bottom: 8px;
    right: -9px;
    text-align: left;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-card--wrap {
    padding: 19px 23px 11px;
}

.about-card__title {
    font-size: 1.4rem;
}

.about-card__desc {
    font-size: 1rem;
    margin: 6px 0 10px;
}

.about-card__process {
    width: 96px;
    height: 2px;
    flex-shrink: 0;
    margin: 3px 0;
    border-radius: 10px;
    background: #eaeaea;
}

.about-card__progress {
    display: block;
    width: 40px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #83a17d;
}
.about-card__text,
.about-card__percent,
.about-card__status {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
}

.about-card__text {
    margin-left: -6px;
}

.about-card__status {
    text-align: right;
}

.about-card__dot {
    margin: 3px 0 5px -4px;
    width: 11px;
    height: 11px;
    border: 3px solid #eaeaea;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.about-about__row {
    display: flex;
    align-items: center;
}

.about-card-img {
    margin-left: -10px;
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
}

.about-card-img:first-child {
    margin-left: 24px;
}

.about-content {
    width: 42.3%;
}

.about__heading {
    margin-top: 20px;
}

.about__desc {
    margin: 11px 0 36px;
}

.about-content__row {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}

.about-content__row:first-of-type {
    margin-bottom: 38px;
}

.about-content__percent {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24; /* 123.81% */
    color: var(--primary-color);
}

.about__row-desc {
    font-size: 1.4rem;
    margin-left: 24px;
}

.about-decoration {
    position: absolute;
}

.about__avstract {
    top: -43px;
    left: 25px;
}

.about__vector {
    top: 3.11px;
    left: 64.23px;
}

/* Process */

.process-item__body {
    display: flex;
    align-items: center;
    min-height: 185px;
    border-radius: 33px;
    transition: 0.25s;
}

.process__notice::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 1px;
    bottom: 50%;
    transform: translateX(-50%);
    left: -32px;
    background-color: var(--primary-color);
}
.process__heading {
    width: 477px;
    position: relative;
}

.process__heading::after {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    bottom: 20px;
    right: 0;
    background-color: var(--primary-color);
}

.process__list {
    margin-top: 85px;
}

.process-item {
    border-bottom: 1px solid #83a17d;
    transition: ease-in 0.3s;
}

.process-item:hover {
    border-color: transparent;
}

.process-item:hover .process-item__body {
    background-color: #e2eddf;
}

.process-item:first-of-type {
    position: relative;
}

.process-item__number {
    margin-left: 30px;
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72;
    text-align: left;
    color: var(--primary-color);
}

.process-item__header-part {
    min-width: 176px;
    margin: 0 175px 0 67px;
    display: flex;
    flex-direction: column;
}

.process-item__title {
    margin-bottom: 22px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    color: var(--primary-color);
}

.process-item__link {
    display: none;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: var(--desc-color-light);
    text-decoration: underline;
}

.process-item:hover .process-item__link {
    display: block;
}

.process-decoration {
    position: absolute;
    top: -266px;
    right: 156px;
}
