* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --link-color: #575d5e;
    --desc-color: #575d5e;
}

html {
    font-size: 62.5%;
}

header,
footer {
    font-family: "Public Sans", sans-serif;
}

button {
    font-family: inherit;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: block;
    height: var(--height);
    padding: 0 24px;
    color: #fff;
    font-weight: 500;
    background-color: var(--primary-color);
    border: 1.5px solid #143c3c;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.9;
}

.desc__section {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56; /* 155.556% */
    color: var(--desc-color);
}
/* Header */

.header {
    padding-top: 28px;
    min-height: 100vh;
}

.header-top {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
}

.header-top::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.navbar__list {
    display: flex;
    margin-left: 398px;
}

.navbar__link {
    display: block;
    padding: 8px 19px;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--link-color);
}

.navbar__link:hover {
    color: var(--primary-color);
}

.navbar__link--active {
    position: relative;
    color: var(--primary-color);
    font-weight: 600;
}

.navbar__link--active::after {
    position: absolute;
    content: "";
    left: 19px;
    bottom: -17px;
    width: 16px;
    height: 2px;
    flex-shrink: 0;
    background-color: var(--primary-color);
}

.sign-up {
    --height: 57px;
    margin-left: auto;
    border-radius: 40px;
    min-width: 173px;
    font-size: 1.8rem;
}

/* Hero */

.hero {
    padding: 60px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 43.4%;
}

.hero__heading {
    max-width: 368px;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
    color: var(--primary-color);
}

.hero__desc {
    max-width: 341px;
    margin-top: 20px;
}

.hero-row {
    margin-top: 42px;
}
.hero__btn-cta {
    --height: 57px;
    border-radius: 40px;
    min-width: 173px;
    font-size: 1.8rem;
}

.hero__media {
    width: 56.7%;
    position: relative;
}

.hero__gb-blur {
    position: absolute;
    top: 122px;
    right: 150px;
    width: 340px;
    height: 340px;
    border-radius: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}

.hero__images {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.hero__img {
    width: 202px;
    height: 466px;
}

.hero__img:nth-of-type(2) {
    margin-top: 77px;
}

.hero-decorate {
    position: absolute;
}

.hero__vector-01 {
    top: -32.07px;
    left: -172px;
}

.hero__avstract-01 {
    top: -24px;
    left: -213px;
}

.hero__vector-02 {
    right: 45.64px;
    bottom: -67px;
}

.hero__avstract-02 {
    right: 6.64px;
    bottom: -37px;
}
